.cart-container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.total {
  float: right;
  text-align: center;
}

.total button {
  width: 50%;
  padding: 10px;
  background-color: #413db8;
  border-radius: 50px;
  color: white;
  border: 0;
  cursor: pointer;
}

.separator {
  display: block;
  padding: 10px;
  margin-left: 20px;
}

.cart-description {
  width: 100%;
}

.empty-cart {
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  font-size: 3rem;
}

.empty-cart button{
  font-size: 1.5rem;
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #413DB8;
  border-radius:50px;
  color: white;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .cart-container {
    width: 100%;
  }

  .total {
    float: initial;
    margin: 0 auto;
  }
}

.amount {
  float: right;
}

.amount-handler {
  display: block;
  cursor: pointer;
}

#minus-button {
    margin-right: 10px;
}
