.filterSideNav {
  height: 50%;
  width: 6rem;
  position: fixed;
  z-index: 1; 
  top: 25%; 
  left: 0;
  background-color: rgb(227, 231, 235);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: left 0.5s ease;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

}

.grid-item {
  flex: 20%;
  position: relative;
  box-sizing: border-box;
  margin: 1rem 2rem;
  height: 100%;
}

@media (max-width: 1376px) {
  .grid-item {
    max-width: 300px
  }
}

@media (max-width: 1073px) {
  .filterSideNav {
    display: 6rem;
  }

  .grid-item {
    max-width: initial;
    flex-basis: 33.3%;
  }
}
@media (max-width: 815px) {
  .grid-item {
    max-width: initial;
    flex-basis: 50%;
  }
}
@media (max-width: 555px) {
  .wrapper {
    width: 100%;
  }
  .grid-item {
    flex-basis: 100%;
  }
}
